.headbikes1234{
    width: 100%;
    background-color: rgb(254,210,80);
    text-align: center;
    padding: 0.5%;
}
.headbikes1234>p{
    font-size: 12px;
}
.headbikes1234>p>span{
    color: blue;
    text-decoration: underline;
}

.sorthead123{
    display: flex;
    height: 35px;
}
.sorthead123>div>p{
    font-size:18px;
    font-weight:700;
   margin-top: 30%;
    margin-left: 50%;
}
.sortingbtn123{
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    margin-left: 25%;
}

.sortingbtn123>button{
    /* margin-left: 2%; */
    /* border: none; */
    font-size:11px;
    font-weight:500;
    background-color: white;
     vertical-align:baseline;
}


.container{
    display: flex;
    gap: 1%;
}



.firstmain{
    width: 100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    /* height: 400px; */
    overflow: scroll;
    overflow-x: hidden;
    height: 60vh;

     /* position: fixed;
    position: sticky;  */
}

.firstmain>div>div>h6{
    font-size:12.8px;
    line-height:19.2px;
    font-weight:700;
    vertical-align:baseline;
}
.firstmain>div>div>p{
    font-size:12.8px;
    line-height:19.2px;
    font-weight:400;
    vertical-align:baseline;
}
.datetime{
    display: flex;
    gap: 30%;
}
.Dateandtime{
    display: flex;
    flex-direction: column;
    padding: 2%;
    /* border: 1px solid green; */
    line-height: 0px;
}
.Dateandtime>label{
    font-size:12.8px;
    line-height:19.2px;
    font-weight:500;
    vertical-align:baseline;
}
.Dateandtime>input{
    border: none;
    border-bottom: solid 1px black;
    margin-right: 5%;
    width: 40%;
}

.searching>h6{
    font-size:12.8px;
    line-height:19.2px;
    font-weight:700;
    vertical-align:baseline;
}

.overflow{
    margin-top: 5%;
    height: 100px;
    overflow: scroll;
}
.overflow>div>p{
    font-size:12.8px;
    line-height:7px;
    font-weight:400;
    vertical-align:baseline;
}

.overflow>div{
    display: inline;

}
.overflow>div>input{
    display: inline-block;
}
.overflow>div>p{
    display: inline-block;
}
.applyfilter{
 width: 90%;
 margin: auto;
 padding: 3%;
 background-color: rgb(254,210,80);
 border: none;
 border-radius: 20px;
 margin-left: 2%;
}






.secoundmain{
    width: 80%;
    /* border: 1px solid black; */
    padding-left: 1.5%;
    padding-right: 1.5%;
    overflow: scroll;
    height: 150vh;
}
.secoundmain>div{
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
}
.mapbikes123{
    /* border: 1px solid red; */
    width: 28%;
    margin-top: 5%;
    text-align: center;
    padding: 1.5%;
    padding-bottom: 0.5%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.mapbikes123>p{
    float: left;
   font-size: 10px;
   margin-top: -1%;
}
.mapbikes123>h6{
    margin-top: 8%;
    font-size: 15px;
    font-weight:700;
text-align:center;
}
.mapbikes123>img{
    /* height: 35%; */
    width: 70%;
}
.mapbikes123>span{
    font-size: 10px;
}
.mapbikes123>select{
    width: 95%;
    border: none;
    border-bottom: 1px solid black;
}
.timingbike{
    display: flex;
    gap: 20%;
    /* height: 15%; */
    padding: 3%;
}
.timingbike>div{
    font-size: 10px;
}
.timingTo{
    border-radius: 50%;
    background-color: black;
    color: white;
    width: 25%;
    height: 25px;
    text-align: center;
    padding-top: 2%;
    margin-top: 10%;
}
.prizebike1234{
    display: flex;
    gap: 30%;
    font-size: 10px;
    /* height: 20px; */
    padding: 2%;
    /* margin-top: -10px; */
    margin-bottom: 10px;
}

.prizebike1234>div{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.prizebike1234>div>p{
    font-size: 15px;
}
.prizebike>div>span{
    font-size: 8px;
    margin-top: -15px;
}
.prizebike1234>div>button{
    height: 100%;
    background-color: rgb(254,210,80);
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}



@media only screen and (max-width: 1020px) {
    .firstmain{
      display: none;
    }
    .secoundmain{
        width: 90%;
    }
    .mapbikes{
        width: 45%; 
    }
  }


  @media only screen and (max-width: 610px) {
    .firstmain{
      display: none;
    }
    .secoundmain{
        width: 90%;
    }
    .mapbikes{
        width: 90%; 
        margin: auto;
    }
    .applyfilter{
        display: none;
    }


    .mapbikes123{
        /* border: 1px solid red; */
        width: 47%;
    }
  }

