#logo {
  width: 130px;
  margin-left: 20px;
}

#logo img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:60px;
  width:100%;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 15%);
}

nav > ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

nav > ul a {
  display: inline-block;
  padding: 18px 15px;
}

nav > ul a:hover {
  background-color: var(--primary-color);
}

nav > ul img {
  width: 25px;
}

#location-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--primary-color);
  padding: 10px 10px;
  border-radius: 4px;
  margin-right: 30px;
  cursor: pointer;
}

#location-btn:hover {
  background-color: var(--primary-color);
}

#header-right {
  display: flex;
  align-items: center;
}

#header-user {
  display: flex;
  align-items: center;
  gap: 5px;
  /* border:1px solid red; */
  /* border: 2px solid var(--primary-color); */
  padding: 5px 5px;
  border-radius: 4px;
  /* margin-right: 30px; */
  
}

#header-user:hover {
  background-color: var(--primary-color);
}

#header-login-signup {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}
#header-login-signup a {
  display: inline-block;
  padding: 10px 10px;
}

.colored-btn {
  background-color: var(--primary-color);
  border-radius: 4px;
}

.dropdown:hover {
  background-color: var(--primary-color);
}

.profileIcon{
  height:50px;
  width:200px;
  /* border:1px solid red; */
  display: flex;
  gap:3px;
  color: #000;
}
.profileIcon img{
  height:100%;
}
.profileIcon h4{
  color: #303030;
  
}

.whatsapp{
  height:35px;
  width:350px;
  display: flex;
  float: right;
  /* border:1px solid black; */
  font-size: 14px;
  margin-left:30px;
}
.phoneIcon{
  margin-top:8px;
}
.whatsapp img{
  height:20px;
  margin-top: 12px;
}
.chatnow{
  color: #006ccc;
  text-decoration: underline;
}

.menuItem img{
  padding-right: 10px;
}